{%
  set classes = [
    'layout',
    'layout--tabs',
  ]
%}
{% if content %}
{% set region = 'tabs' %}
  <div{{ attributes.addClass(classes) }}>
    <div {{ region_attributes.tabs.addClass('layout__region', 'layout__region--tabs', 'tabs-region') }}>
{# Our custom structure breaks layout builder, so omit #}
{% if content.tabs.layout_builder_add_block is not defined %}
{{ attach_library('layout_builder_tabs/tabs') }}

{% set blocks = content[region]|sortbyweight %}
<!-- Nav tabs -->
<nav class="nav layout-tabs" role="navigation" aria-label="{{ 'Please use the left and right arrow keys to move between tabs'|trans }}">
  <ul class="tabs tab--primary" role="tablist">
  {% for block_id, block_data in blocks if content[region][block_id] %}
  {% set block_label = content[region][block_id]['content']['#title']['#markup'] %}
  {% if block_label is empty %}
    {% set block_label = content[region][block_id]['#configuration']['label'] %}
  {% endif %}
  <li class="tabs__tab" role="presentation"><a class="nav-item nav-link {{ loop.first ? 'is-active' }}"
    href="#panel-{{ block_id }}" id="tab-{{ block_id }}" role="tab" data-toggle="tab"
    aria-controls="panel-{{ block_id }}" aria-selected="{{ loop.first ? 'true' : 'false' }}"{% if not loop.first %} tabindex="-1"{% endif %}>
   <div class="label"> {{ block_label }}</div>
  </a></li>
  {% endfor %}
  </ul>
</nav>

<!-- Tab panes -->
<div class="tab-content">
  {% for block_id, block_data in blocks if content[region][block_id] %}
  <div class="tab-pane {{ loop.first ? 'active' }}" id="panel-{{ block_id }}" role="tabpanel" aria-labelledby="tab-{{ block_id }}" aria-hidden="{{ loop.first ? 'false' : 'true' }}" aria-expanded="{{ loop.first ? 'true' : 'false' }}">
    {{ content[region][block_id] }}
  </div>
  {% endfor %}
</div>
{% else %}
{% set blocks = content[region]|sortbyweight %}
<!-- Tab panes -->
{% for block_id, block_data in blocks %}
  {% set block_label = content[region][block_id]['content']['#title']['#markup'] %}
  {% if block_label is empty %}
    {% set block_label = content[region][block_id]['#configuration']['label'] %}
  {% endif %}
  {% if block_label is not empty %}
  {# Simulate tab labels above each block in Layout Builder #}
  <ul class="tabs"><li>
  <h3 class="tabs__tab"><a class="is-active">{{ block_label }}</a></h3>
  </li></ul>
  {% endif %}
  {{ content[region][block_id] }}
{% endfor %}
{% endif %}
{# Output anything remaining #}
{{ content|without(region) }}
</div>
</div>
{% endif %}
